*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: rgb(242, 244, 247);
}

/*HEADER*/
#header{
    margin: 0 auto;
    padding: 0;
}

#header1{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(241,243,247);
}

#header-icon{
    padding: 0;
    width: 70%;
    margin: 0 auto;
}

.bi-list{
    margin: 20px 0 0 10px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 0;
    visibility: hidden;
}

.bi-x{
    margin: 20px 0 0 10px;
    color: black;
    font-weight: bold;
    position: absolute;
    font-size: 25px;
    top: 0;
    visibility: hidden;
}

@media screen and (max-width:425px) {
    #header-icon{
        width: 50%;
    }
}

#account{
    margin: 0;
    padding: 0;
    width: 30%;
    display: flex;
    text-transform: capitalize;
}
@media screen and (max-width:425px) {
    #account{
        width: 50%;
    }
}

#points{
    width: 40%;
}

@media screen and (max-width:425px) {
    #points{
        width: 50%;
        margin-left: 5px;
    }
    
}

.points{
    background-color: rgb(241,243,247);
    display: block;
    padding: 5px;
    margin: 20px auto;
    border: none;
    border-radius: 20px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: gray;
    width: 100%;
    font-weight: bold;
}

.points img{
    width: 30px; 
    height: 30px;
}

#Profile1{
    margin: 0 auto;
    padding: 0;
    width: 60%;
}

@media screen and (max-width:425px) {
    #profile{
        width: 50%;
    }  
}

.Profile{
    display: block;
    padding: 5px;
    margin: 20px auto;
    border: none;
}

#icon{
    border: none;
    border-radius: 50%;
    background-color: rgba(201, 197, 197,0.8);
    padding: 2px 5px 2px 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    width: fit-content;
    display: inline-block;
}

#header-icon a img{
    margin: 5px 0 0 30px;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

#account-action{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
    position: absolute;
    right: 3px;
    top: 70px;
    background-color: white;
    box-shadow: 1px 1px 3px gray;
}

#account-action li a{
    text-decoration: none;
    display: block;
    color: black;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-bottom: 2px solid whitesmoke;
}

#account-action li #log{
    border-bottom: none;
}

#account-action li a:hover{
    background-color: rgb(241,243,247);
}

@media screen and (max-width:425px) {
    #header{
        margin: 0 auto;
    }

    #header-icon a img{
        width: 3rem;
        height: 3rem;
        margin-top: 12px;
        margin-left: 40px;
    }

    #header1{
        border-bottom: 0;
    }

    .hidename,
    #hidepoints{
        display: none;
    }

    .points{
        margin-top: 25px;
        padding: 0;
    }

    .points img{
        width: 20px;
        height: 20px;
    }

    #icon{
        margin: 0 0 0 20px;
        padding: 2px 5px 2px 5px; 
    }
}

/*NAVIGATION*/
#nav{
    margin: 0 auto;
    width: 100%;
    background-color: white;
}

#nav ul{
    display: flex;
    margin: 0 0 0 50px;
    padding: 0;
    list-style-type: none;
}

#nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    display: block;
    width: 100%;
    padding: 10px;
}

#nav ul li a:hover{
    color: blue;
}

@media screen and (max-width:575px) {
    .bi-list{
        visibility: visible;
    }
    .bi-x{
        visibility: hidden;
    }
    #nav{
        margin: 0 auto;
        width: 50%;
        position: fixed;
        height: 100%;
        left: -50%;
        transition-duration: 1s;
        box-shadow: 0px 3px 5px gray;
        
    }

    #nav ul{
        display: block;
        margin: 0 auto;
        transition-duration: 1s;
        background-color: white;
        width: 100%;
    }

    #nav ul li a:hover{
        width: 100%;
        background-color: rgba(208, 207, 209, 0.5);
    }
}

/*login page
*
*
*/
#login{
    margin: 0 auto;
    padding: 0;
    width: 85%;
    display: flex;
    border: none;
    border-radius: 20px;
    background-color:  inherit;    
    box-shadow: 0 2px 10px gray;
}

#login1{
    padding: 0;
    width: 50%;
    border-radius: 20px;
}

#login1 img{
    width: 100%;
    border-radius: 20px 0 0 20px;
    height: 100%;
}

#login2{
    margin: 0 auto;
    padding: 0;
    width: 50%;
    border-radius: 0 20px 20px 0;
    background-color: inherit;
}

#login2 #description{
    text-align: center;
    text-transform: capitalize;
    display: none;
}

#login a{
    text-decoration: none;
}

#login2 #google{
    margin-top: 60px;

}

#login2 #google button a{
    color: black;
}

#login2 #email{
    margin: 20px auto 0 auto;
    width: 60%;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
}

#login2 #email input{
    margin: 0 auto;
    padding: 10px;
    width: 95%;
    border: none;
    outline: none;
    border-radius: 0 10px 10px 0;
    background-color: white;
}

#login2 #submit{
    margin: 0px auto;
}

#login2 #submit button{
    background-color: rgb(24, 144, 255);
    color: white;
    border: none;
    padding: 10px;

}

#login2 #more-description{
    margin: 20px auto;
    padding: 0px;
    width: 60%;

}

#login2 button{
    margin: 10px auto;
    display: block;
    width: 60%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 8px;
}

#login2 button:hover{
    box-shadow: 0 3px 5px rgb(175, 174, 174);
}

.or-separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    color: gray;
    font-weight: bold;
}

.or-separator::before,
.or-separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.or-separator:not(:empty)::before {
    margin-right: .25em;
}

.or-separator:not(:empty)::after {
    margin-left: .25em;
}

#emailMessage{
    margin: 0 auto 0 auto;
    width: 60%;
}

/*login page*/
@media screen and (max-width:425px) {
    /*LOGIN*/
    #login{
        display: block;
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
        padding: 0;
        background-color: inherit;
    }

    #login1{
        display: none;
        width: 100%;
    }

    #login2{
        margin: 0 auto;
        padding: 0;
        width: 90%;
    } 

    #login2 #description{
        display: block;
        width: 100%;
        margin: 20px auto;
        width: 80%;
        text-align: center;
        text-transform: none;
        font-weight: bold;
        color: gray;
        font-size: 25px;
    }

    #login2 #google{
        margin: 0 auto;
        width: 100%;
    }

    #login2 #google button{
        margin: 0 auto;
        width: 100%;
    }

    #login2 .or-separator{
        width: 100%;

    }
    #login2 #email{
        margin: 0 auto;
        width: 100%;
    }

    #login2 #emailMessage{
        width: 100%;
    }
    #login2 #submit button{
        width: 100%;
    }

    #login2 #more-description{
        width: 100%;
        padding: 10px;
        margin-top: 0;
    }
    
}



/*FOOTER*/
#footer{
    background-color: #3B4957;
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

#copyright{
    margin: 20px auto;
    padding: 0;
    width: 70%;
    display: flex;
    justify-content: left;
    color: white;
    flex-wrap: wrap;
}

@media screen and (max-width:425px) {
    #copyright{
        margin: 10px auto;
        padding: 0;
        width: 70%;
        display: flex;
        justify-content: left;
        color: white;
        flex-wrap: wrap;
        font-size: 15px;
    } 
}

#copyright div{
    margin: 0 0 0 30px;
    padding-left: 5px;
    text-transform: capitalize;
}

#copyright div a{
    color: white;
}

#social-media-icons{
    margin: 20px auto;
    padding: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#social-media-icons ul{
    list-style-type: none;
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

#social-media-icons ul li a{
    padding: 0px;
    margin-right: 10px;
    display: block;
    width: 25%; 
    color: white;
}

@media screen and (max-width:425px) {
    #social-media-icons ul li a{
        padding: 0px;
        margin-right: 10px;
        display: block;
        width: 25%; 
        color: white;
        font-size: 15px;
    }   
}

#community,#opportunities,#profile,#redeem,#contact-us,#login{
    display: none;
}