*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

/*HEADER*/
#header{
    margin: 0 auto;
    padding: 0;
    background-color: white;
}

#header1{
    margin: 0 auto;
    padding: 0;
    display: flex;
    border-bottom: 1.5px solid lightgray;
}

.bi-list{
    position: absolute;
    font-size: 40px;
    margin-top: 5px;
    display: none;
}

.bi-x{
    position: absolute;
    font-size: 40px;
    margin-top: 5px;
    display: none;
}

@media screen and (max-width:425px) {/*mobile mode*/
    .bi-list{
        position: absolute;
        font-size: 30px;
        margin-top: 5px;
        display: block;
    }
    
    .bi-x{
        position: absolute;
        font-size: 30px;
        margin-top: 5px;
        display: block;
    }
    
    #hidepoints{
        font-weight: normal;
        display: none;
    }
}

.header-icon{
    margin: 0 auto;
    padding: 0;
    width: 50%;
    font-size: 32px;
}

@media screen and (min-width:425px) and (max-width:768px) {/*Tablet mode*/
    .header-icon{
        width: 60%;
    }
   
}

@media screen and (min-width:375px) and (max-width:425px) {/*Large divices*/
    .header-icon{
        width: 45%;
    }
}

@media screen and (min-width:320px) and (max-width:375px) {/*medium devices*/
   
}

@media screen and (max-width:320px) {/*small devices*/
    .header-icon{
        width: 47%;
    }
}

.header-icon div img{
    margin: 10px 0 5px 40px;
    padding: 0;
    width: 47px;
    height: 47px;
}

@media screen and (min-width:375px) and (max-width:425px) {/*Large Mobile*/
    .header-icon div img{
        margin: 10px 0 5px 40px;
        padding: 0;
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width:320px) and (max-width:375px) {/*medium devices*/
   
}

@media screen and (max-width:320px) {/*small devices*/
    .header-icon div img{
        margin: 10px 0 5px 40px;
        padding: 0;
        width: 32px;
        height: 32px;
    }
}

.points{
    margin: 10px auto;
    padding: 5px;
    width: 10%;
    display: flex;
    background-color: rgb(241,243,247);
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 30%/100%;
}

@media screen and (min-width:425px) and (max-width:768px) {/*Tablet mode*/
    .points{
        width: 17%;
    } 
}

@media screen and (min-width:375px) and (max-width:425px) {/*Large Mobile*/
    .points{
        margin: 12px auto;
        padding: 3px;
        width: 15%;
        font-size: 15px;
        border-radius: 50%/100%;
    } 
}

@media screen and (min-width:320px) and (max-width:375px) {/*medium devices*/
   
}

@media screen and (max-width:320px) {/*small devices*/
    .points{
        margin: 10px auto;
        padding: 1px;
        width: 23%;
        font-size: 20px;
        border-radius: 50%/100%;
    } 
}

.points div img{
    margin: 0 auto;
    padding: 0;
    width: 30px;
    height: 30px;
}

@media screen and (min-width:375px) and (max-width:425px) {/*Large Mobile*/
    .points div img{
        margin: 0 auto;
        padding: 0;
        width: 25px;
        height: 25px;
    }
}

@media screen and (min-width:320px) and (max-width:375px) {/*medium devices*/
   
}

@media screen and (max-width:320px) {/*small devices*/
    .points div img{
        margin: 0 auto;
        padding: 0;
        width: 25px;
        height: 25px;
    } 
}

.pointsmain{
    padding: 2px 0 0 0;
    font-weight: bold;
}

#hidepoints{
    font-weight: normal;
}

.account{
    margin: 0 auto;
    padding: 0;
    width: 15%;
    position: relative;
}

@media screen and (min-width:425px) and (max-width:768px) {/*Tablet mode*/
    .account{
        width: 23%;
    }
}

@media screen and (min-width:375px) and (max-width:425px) {/*Large Mobile*/
    .account{
        width: 40%;
        font-size: 15px;
    }
}

@media screen and (min-width:320px) and (max-width:375px) {/*medium devices*/
   
}

@media screen and (max-width:320px) {/*small devices*/
    .account{
        width: 30%;
        font-size: 20px;
    }
}

.account #name{
    margin: 10px 0 0 10px;
    padding: 0;
    display: flex;
    font-size: 20px;
}

@media screen and (min-width:425px) and (max-width:768px) {/*Tablet mode*/
   
}

@media screen and (min-width:375px) and (max-width:425px) {/*Large Mobile*/

}

@media screen and (min-width:320px) and (max-width:375px) {/*medium devices*/
   
}

@media screen and (max-width:320px) {/*small devices*/
    .account #name{
        margin: 5px 0 0 5px;
        padding: 0;
        display: flex;
        font-size: 15px;
    }
}

.account #name:hover .bi-chevron-down{
    color: lightgray;
}

.account #name .icon{
    padding: 5px 10px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    background-color: rgb(241,243,247);
}

@media screen and (min-width:425px) and (max-width:768px) {/*Tablet mode*/
   
}

@media screen and (min-width:375px) and (max-width:425px) {/*Large Mobile*/
    .account #name .icon{
        padding: 1px 6px;
        border-radius: 50%;
        text-align: center;
        font-weight: bold;
        background-color: rgb(241,243,247);
    }
}

@media screen and (min-width:320px) and (max-width:375px) {/*medium devices*/
   
}
@media screen and (max-width:320px) {/*small devices*/
    .account #name .icon{
        margin: 5px auto;
        padding: 4px 8px;
        border-radius: 50%;
        text-align: center;
        font-weight: bold;
        background-color: rgb(241,243,247);
        font-size: 20px;
    }
}

.account #name .hidename{
    margin: 0 2px;
    padding: 5px 0;
    font-weight: normal;
    font-size: 18px;
}

@media screen and (min-width:425px) and (max-width:768px) {/*Tablet mode*/
    .account #name .hidename{
        margin: 0 2px;
        padding: 5px 0;
        font-weight: normal;
        font-size: 16px;
    }
}

@media screen and (min-width:320px) and (max-width:375px) {/*medium devices*/
   
}

@media screen and (max-width:320px) {/*small devices*/
    .account #name .hidename{
        margin: 0 2px;
        padding: 5px 0;
        font-weight: normal;
        font-size: 18px;
        display: none;
    } 
}

.account #action{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    background-color: white;
    text-transform: capitalize;
    position: absolute;
    top: 63px;
    right: 0;
    border-radius: 10px 0 10px 10px;
    display: none;
}

@media screen and (min-width:425px) and (max-width:768px) {/*Tablet mode*/
    .account #action{
        top: 63px;
        right: 0;
        border-radius: 5px 0 5px 5px;
        display: none;
    }    
}

@media screen and (min-width:375px) and (max-width:425px) {/*Large Mobile*/
    .account #action{
        top: 50px;
        right: 0;
        border-radius: 5px 0 5px 5px;
        display: none;
    }   
}

@media screen and (min-width:320px) and (max-width:375px) {/*medium devices*/
   
}

@media screen and (max-width:320px) {/*small devices*/
    .account #action{
        top: 56px;
        right: 0;
        border-radius: 5px 0 5px 5px;
        display: none;
        width: 170px;
    }   
}

.account #action li{
    padding: 10px 7px;
    font-size: 18px;
}

@media screen and (min-width:425px) and (max-width:768px) {/*Tablet mode*/
    .account #action li{
        padding: 7px 4px;
        font-size: 16px;
    }
}

@media screen and (min-width:375px) and (max-width:425px) {/*Large Mobile*/
    .account #action li{
        padding: 4px;
        font-size: 15px;
    }
}
@media screen and (min-width:320px) and (max-width:375px) {/*medium devices*/
   
}

@media screen and (max-width:320px) {/*small devices*/
    .account #action li{
        padding: 5px;
        font-size: 15px;
    }
}

#action1{
    border-bottom: 1px solid lightgray;
}

.account #action li:hover{
    background-color: rgb(241,243,247);

}

/*NAVIGATION*/
#nav{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-color: white;
}

@media screen and (min-width:425px) and (max-width:768px) {/*Tablet mode*/
        
}

#nav ul{
    display: flex;
    margin: 0 0 0 60px;
    padding: 0;
    list-style-type: none;
}

@media screen and (min-width:425px) and (max-width:768px) {/*Tablet mode*/
    #nav ul{
        display: flex;
        margin: 0 0 0 10px;
        padding: 0;
        list-style-type: none;
    }  
}

@media screen and (min-width:375px) and (max-width:425px) {/*Large Mobile*/

}

#nav ul li{
    text-decoration: none;
    display: block;
    margin: 0 0 0 20px;
    padding: 5px;
    border-bottom: 2px solid white;
    font-size: 18px;
    color: rgb(50, 50, 50);
}

@media screen and (min-width:425px) and (max-width:768px) {/*Tablet mode*/
     #nav ul li{
        margin: 0 0 0 10px;
        padding: 5px;
        border-bottom: 1px solid white;
        font-size: 15px;
    }
}

@media screen and (min-width:375px) and (max-width:425px) {/*Large Mobile*/

}

@media screen and (max-width:320px) {/*small devices*/
    #nav ul li{
        margin: 0;
        padding: 5px;
        border-bottom: 1px solid white;
        font-size: 15px;
    }
}

#nav ul li:hover{
    color: blue;
    border-bottom: 2px solid blue;
}
@media screen and (max-width:320px) {/*small devices*/
    #nav ul li:hover{
        color: blue;
        border: none;
    }
}

@media screen and (min-width:425px) and (max-width:768px) {/*Tablet mode*/
        
}

@media screen and (max-width:575px) {

    .bi-list{
        visibility: visible;
    }
    .bi-x{
        visibility: hidden;
    }
    #nav{
        margin: 0 auto;
        width: 50%;
        position: fixed;
        height: 100%;
        left: -50%;
        transition-duration: 1s;
        box-shadow: 0px 3px 5px gray;
        
    }

    #nav ul{
        display: block;
        margin: 0 auto;
        transition-duration: 1s;
        background-color: white;
        width: 100%;
    }

    #nav ul li:hover{
        width: 100%;
        background-color: rgba(208, 207, 209, 0.5);
    }
}

/*login page
*
*
*/
#login{
    margin: 20px auto;
    padding: 0;
    width: 70%;
    display: flex;
    border: none;
    border-radius: 20px;
    background-color: rgb(242, 244, 247); 
    height: 65vh;
}

#login1{
    padding: 0;
    width: 40%;
    border-radius: 20px;
}

#login1 img{
    width: 100%;
    border-radius: 20px 0 0 20px;
    height: 100%;
}

#login2{
    margin: 0 auto;
    padding: 0;
    width: 60%;
    border-radius: 0 20px 20px 0;
    background-color: inherit;
}

#login2 #description{
    text-align: center;
    text-transform: capitalize;
    display: none;
}

#login a{
    text-decoration: none;
}

#login2 #google{
    margin-top: 60px;

}

#login2 #google button{
    color: black;
}

#login2 #email{
    margin: 20px auto 0 auto;
    width: 60%;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
}

#login2 #email input{
    margin: 0 auto;
    padding: 10px;
    width: 95%;
    border: none;
    outline: none;
    border-radius: 0 10px 10px 0;
    background-color: white;
}

#login2 #submit{
    margin: 30px auto;

}

#login2 #submit button{
    background-color: rgb(24, 144, 255);
    color: white;
    border: none;
    padding: 10px;
}

#login2 #more-description{
    margin: 0 auto;
    padding: 10px;
    width: 60%;

}

#login2 button{
    margin: 10px auto;
    display: block;
    width: 60%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 8px;
}

#login2 button:hover{
    box-shadow: 0 3px 5px rgb(175, 174, 174);
}

.or-separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    color: gray;
    font-weight: bold;
}

.or-separator::before,
.or-separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.or-separator:not(:empty)::before {
    margin-right: .25em;
}

.or-separator:not(:empty)::after {
    margin-left: .25em;
}

#emailMessage{
    margin: 0 auto;
    width: 60%;
}

/*login page*/
@media screen and (max-width:425px) {
    /*LOGIN*/
    #login{
        display: block;
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
        padding: 0;
        background-color: inherit;
    }

    #login1{
        display: none;
        width: 100%;
    }

    #login2{
        margin: 0 auto;
        padding: 0;
        width: 90%;
    } 

    #login2 #description{
        display: block;
        width: 100%;
        margin: 20px auto;
        width: 80%;
        text-align: center;
        text-transform: none;
        font-weight: bold;
        color: gray;
        font-size: 25px;
    }

    #login2 #google{
        margin: 0 auto;
        width: 100%;
    }

    #login2 #google button{
        margin: 0 auto;
        width: 100%;
    }

    #login2 .or-separator{
        width: 100%;

    }
    #login2 #email{
        margin: 0 auto;
        width: 100%;
    }

    #login2 #emailMessage{
        width: 100%;
    }
    #login2 #submit button{
        width: 100%;
    }

    #login2 #more-description{
        width: 100%;
        padding: 10px;
        margin-top: 0;
    }
    
}



/*FOOTER*/
#footer{
    background-color: #3B4957;
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

#copyright{
    margin: 20px auto;
    padding: 0;
    width: 70%;
    display: flex;
    justify-content: left;
    color: white;
    flex-wrap: wrap;
}

@media screen and (max-width:425px) {
    #copyright{
        margin: 10px auto;
        padding: 0;
        width: 70%;
        display: flex;
        justify-content: left;
        color: white;
        flex-wrap: wrap;
        font-size: 15px;
    } 
}

#copyright div{
    margin: 0 0 0 30px;
    padding-left: 5px;
    text-transform: capitalize;
}

#copyright div a{
    color: white;
}

#social-media-icons{
    margin: 20px auto;
    padding: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#social-media-icons ul{
    list-style-type: none;
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

#social-media-icons ul li a{
    padding: 0px;
    margin-right: 10px;
    display: block;
    width: 25%; 
    color: white;
}

@media screen and (max-width:425px) {
    #social-media-icons ul li a{
        padding: 0px;
        margin-right: 10px;
        display: block;
        width: 25%; 
        color: white;
        font-size: 15px;
    }   
}

#alx,#community,#opportunities,#profile,#redeem,#contact-us{
    display: none;
}