/*Legacy points page*/
#redeem{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-color: rgb(242, 244, 247);
}

#images{
    margin: 0 auto;
    width: 100%;
    height: 75vh;
}

#images img{
    width: inherit;
    margin-bottom: 10px;
    position: absolute;
    height: 75vh;
}

#chevron-left{
    position: absolute;
    left: 0;
    top: 50vh;
    background-color: inherit;
    font-size: 20px;
    border: 2px solid gray;    
    border-radius: 50%;
    padding: 0 5px 0 5px;
    color: lightgray;
    z-index: 1;
}

#chevron-left:hover{
    background-color: aliceblue;
    border: 2px solid blue;
    color: blue;      
}

#chevron-right{
    position: absolute;
    right: 0;
    top: 50vh;
    background-color: inherit;
    font-size: 20px;
    border: 2px solid lightgray;
    border-radius: 50%;
    padding: 0 5px 0 5px;
    color: lightgray;
    z-index: 1;
}

#chevron-right:hover{
    background-color: aliceblue;
    border: 2px solid blue;
    color: blue;      
}

/*REDEEM Main page*/

#redeem-main{
    margin: 0 auto;
    padding: 0;
    background-color: rgb(242, 244, 247);
    width: 85%;
    box-shadow: 2px 2px 10px lightgray;
    border-radius: 20px;
    position: relative;
    top: -10vh;
    padding: 10px;
}

/*rewards*/
.rewards{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rewards div{
    margin: 10px auto;
    padding: 0;
    width: 40%;
    border: 1px solid deepskyblue;
    border-radius: 10px;
}

.rewards div img{
    width: 100%;
    height: 35vh;
    border-radius: 10px 10px 0 0;
}

.rewards div figcaption{
    padding: 10px;
}