*{
    box-sizing: border-box;
}

#main{
    background-color: rgb(242, 244, 247);
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
    
}

/*learning-alx
*first page done and dusted
*
*
*/
#alx,#community,#opportunities,#profile,#redeem,#contact-us,#login{
    background-color: inherit;
}
#main #alx{
    padding: 20px;
    margin: 20px auto;
    background-color: inherit;
    width: 85%;
    box-shadow: 0.5px 0.5px 5px gray; 
    border: none;
    border-radius: 20px;
}

#main #alx #a div{
    color: gray;
}

#main #alx #b{
    background-color: #e4e7ec;
    margin: 0 auto;
    padding: 0;
}

#main #alx #b #c{
    display: flex;
}

#main #alx #b #c #d{
    margin: 0 auto;
    padding: 0;
    width:10%;
}

#main #alx #b #c #d img{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 20px;

}

#main #alx #b #c #e{
    width: 60%;
    margin: 0 auto;
    padding: 5px;
    font-size: 15.9px;
}

#main #alx #b #c #e div{
    color: gray;
}

#main #alx #b #c #f{
    width: 30%;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
}

#main #alx #b #c #f a{
    text-decoration: none;
    display: inline-block;
    padding-top: 2.5rem;
    text-align: right;
}

#main #alx #g{
    margin: 0 auto;
    padding: 0;
    display: flex;
}

#main #alx #g #g1,#g2{
    margin: 40px auto;
    padding: 0;
    width: 50%;
}

#main #alx #g #g2 h4{
    margin-top: 20px;

}

#main #alx #g #g2 div{
    margin-top: 20px;
    width: 90%;
    color: gray;

}
#main #alx #g #g2 button{
    margin: 40px 0 0 0;
    text-decoration: none;
    background-color: rgb(24, 144, 255);
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

#main #alx #g #g2 button:hover{
    box-shadow: 1px 0px 5px gray;
}

#main #alx #g #g2 button a{
    text-decoration: none;
    background-color: rgb(24, 144, 255);
    color: white;
    padding: 10px;
    text-transform: capitalize;
}

/* COMMUNITY PAGE
*
*
*/
#community{
    margin: 20px auto;
    height: auto;
    background-color: inherit;
    width: 85%;
    box-shadow: 0.5px 0.5px 5px gray; 
    border: none;
    border-radius: 20px;
    padding: 20px;
}

@media screen and (max-width:425px) {
    #community{
        margin: 0 auto;
        display: none;
        height: auto;
        background-color: inherit;
        width: 100%;
        box-shadow: 0 0; 
        border: none;
        border-radius: 0;
        padding: 20px;
    }
}

#community img{
    margin: 0 auto;
    display: block;
    width: 100%;
}

@media screen and (max-width:425px) {
    #community img{
        height: 300px;
    }
}

#opportunities{
    margin: 20px auto;
    background-color: inherit;
    width: 85%;
    box-shadow: 0.5px 0.5px 5px gray; 
    border: none;
    border-radius: 20px;
    padding: 30px;
    text-transform: capitalize;
}

@media screen and (max-width:425px) {
    #opportunities{
        margin: 0 auto;
        display: none;
        height: 100%;
        background-color: inherit;
        width: 100%;
        box-shadow: 0 0; 
        border: none;
        padding: 0 10px 20px 10px;
        border-radius: 0;
    }  
}

#opportunities #opportunity{
    margin: 30px auto;
}

@media screen and (max-width:425px) {
    #opportunities #opportunity{
        margin: 0 auto;
        padding: 0;
    }
}

#opportunities #opportunity i{
    font-weight: bold;
}

#opportunities #opportunity span{
    color: gray;
    text-transform: capitalize;
}

#opportunities #opportunity1{
    margin: 15px 0 40px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:425px) {
    #opportunities #opportunity1{
        display: block;
    }
    #opportunities #opportunity1 h2{
        width: 100%;
    }
}

#opportunities #opportunity1 h2{
    width: 77%;

}

#opportunities #opportunity1 button{
    border: 1px solid deepskyblue;
    background-color: inherit;
    color: deepskyblue;
    text-transform: capitalize;
    width: 23%;
    border-radius: 10px;
    font-size: 16px;
}

@media screen and (max-width:425px){
    #opportunities #opportunity1 button{
        display: block;
        width: 100%;
        height: 7vh;
    }
}

#opportunities #opportunity1 button:hover{
    box-shadow: 0 2px 6px gray;
}

#opportunities img{
    width: 100%;
}

@media screen and (max-width:425px){
    #opportunities img{
        width: 100%;
        height: 250px;
    } 
}

@media screen and (max-width:425px) {
    #main #alx{
        padding: 10px;
        margin: 0 auto;
        background-color: inherit;
        width: 100%;
        box-shadow: 0 0; 
        border: none;
        border-radius: 0;
    }
    #main #alx #a h4{
        margin: 20px 0 20px 0;
        font-size: 30px;
        font-weight: lighter;
        padding: 0;
    }
    
    
    #main #alx #b{
        background-color: #e4e7ec;
        margin: 0 auto;
        padding: 0;
        width: 98%;
        display: block;
        border: none;
        border-radius: 10px;
    }

    #main #alx #b #c{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    
    #main #alx #b #c #d{
        margin: 0 auto;
        padding: 0;
        width:25%;
    }
   
    #main #alx #b #c #d img{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        padding: 20px;    
    } 

    #main #alx #b #c #e{
        margin: 0 auto;
        padding: 10px;
        font-size: 15.9px;
        width: 75%;
    }

    #main #alx #b #c #e div{
        color: gray;
    }

    #main #alx #b #c #f{
        width: 100%;
        font-weight: 500;
    }
    
    #main #alx #b #c #f a{
        margin: 0 auto;
        padding: 0 0 20px 0;
        text-decoration: none;
        text-align: right;
    }
   
    #main #alx #g{
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
    
    #main #alx #g #g1{
        display: none;
        margin: 0;
        background-color: red;
    }
    
    #main #alx #g #g2 h4{
        margin: 20px auto;
        padding: 0;
    }
   
    #main #alx #g #g2 div{
        width: 100%;
        margin: 0 auto;
        padding: 0;
    
    } 

    #main #alx #g #g2 button{
        margin: 10px 0 0 10px;
        text-decoration: none;
        background-color: rgb(24, 144, 255);
        color: white;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 10px;
    }
    
}


/*Contact Us Page
*
*/

.contact-us{
    width: 85%;
    margin: 40px auto;
    padding: 30px;
    box-shadow: 2px 2px 10px gray;
    display: flex;
    border: none;
    border-radius: 20px;
    background-color: inherit;
}

@media screen and (max-width:425px) {
    .contact-us{
        width: 100%;
        margin: 40px auto;
        padding: 30px;
        box-shadow: 0 0;
        display: block;
        border: none;
        border-radius: 0;
        background-color: inherit; 
    }
    
}

.contact-us div{
    width: 50%;
    padding: 20px;
    margin: 20px;
}

.contact-us div~div{
    background-color: white;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 15px;
}

.contact-us div~div button{
    display: block;
    width: 90%;
    border: none;
    background-color: deepskyblue;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
}

@media screen and (max-width:425px) {
    .contact-us div{
        width: 100%;
        padding: 20px;
        margin: 0 auto;
    } 

    .contact-us div h5{
        font-weight: 900;
    }

    .contact-us div~div button{
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

.contact-us div~div button:hover{
    box-shadow: 0 2px 5px gray;
}


