*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*HEADER*/
#header{
    margin: 0;
    padding: 0;
    height: fit-content;
}

#header1{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(241,243,247);
}

#header-icon{
    padding: 0;
    width: 70%;
    margin: 0 auto;

}

#account{
    margin: 0;
    padding: 0;
    width: 30%;
    display: flex;
    text-transform: capitalize;
}

#points{
    width: 35%;
}

.points{
    background-color: rgb(241,243,247);
    display: block;
    padding: 5px;
    margin: 20px auto;
    border: none;
    border-radius: 20px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: gray;
}
.points img{
    width: 30px; 
    height: 30px;
}

#Profile{
    margin: 0 auto;
    padding: 0 auto;
    width: 65%;
}

.Profile{
    display: block;
    padding: 5px;
    margin: 20px auto;
    border: none;

}

#icon{
    border: none;
    border-radius: 50%;
    background-color: rgba(201, 197, 197,0.8);
    padding: 2px 5px 2px 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    width: fit-content;
    display: inline-block;
}

#header-icon a img{
    margin: 5px 0 0 30px;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

#account-action{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
    position: absolute;
    right: 3px;
    top: 70px;
    background-color: white;
    box-shadow: 1px 1px 3px gray;
}

#account-action li a{
    text-decoration: none;
    display: block;
    color: black;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-bottom: 2px solid whitesmoke;
}

#account-action li #log{
    border-bottom: none;
}

#account-action li a:hover{
    background-color: rgb(241,243,247);
}

/*NAVIGATION*/
#nav ul{
    display: flex;
    margin: 0 0 0 50px;
    padding: 0;
    list-style-type: none;
}
#nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    display: block;
    width: 100%;
    padding: 10px;
}
#nav ul li a:hover{
    color: blue;
}

/*MAIN*/
#main{
    background-color: rgb(241,243,247);
    margin: 0 auto;
    padding: 0;
    height: 100vh;
}

#login{
    margin: 10px 10%;
    padding: 0;
    width: 80%;
    display: flex;
    border: none;
    border-radius: 20px;
    background-color:  rgba(255, 255, 255, 0.6);
    background-color: red;
}

#login1{
    padding: 0;
    width: 50%;
    border-radius: 20px;
}

#login1 img{
    width: 100%;
    border-radius: 20px 0 0 20px;
    height: 100%;
}

#login2{
    margin: 0 auto;
    padding: 0;
    width: 50%;
    border-radius: 0 20px 20px 0;
    display: block;
}
#login2 div{
    text-align: center;
    text-transform: capitalize;
    display: none;
}
#login2 span{
    margin: 0 auto;
    display: block;
    width: 90%;
    background-color: aqua;
}
#login2 span input{
    width: 80%;
    border: none;
    outline: none;
}
#login2 button{
    margin: 10px auto;
    display: block;
    width: 70%;
    padding: 5px;
    border: 1px solid gray;
}



/*FOOTER*/
#footer{
    background-color: #3B4957;
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;

}

#copyright{
    margin: 20px auto;
    padding: 0 auto;
    width: 70%;
    display: flex;
    justify-content: left;
    color: white;
}
#copyright div{
    margin: 0 0 0 30px;
    padding-left: 5px;
    text-transform: capitalize;
}

#copyright div a{
    color: white;
}

#social-media-icons{
    margin: 20px auto;
    padding: 10;
    width: 30%;
    display: flex;
    justify-content: center;

}
#social-media-icons ul{
    list-style-type: none;
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

#social-media-icons ul li a{
    padding: 0px;
    margin-right: 10px;
    display: block;
    width: 25%; 
    color: white;
}