*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
}

/*HEADER*/
#header{
    margin: 0;
    padding: 0;
    display: flex;
}
#title{
    width: 50%;
}
#title a img{
    width: 100px;
    height: 100px;
    background-color: red;
}
#legacy-points{
    margin: 0;
    padding: 1px;
    width: 25%;
    background-color: red;

}
#account{
    width: 25%;
    background-color: aqua;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#account div{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    padding: 10px 0 0 10px;
}
#account div #icon{
    text-transform: uppercase;
    border-radius: 50%;
    padding: 10%;
    background-color:lightgray;
    font-weight: bold;
}
#account div #icon1,#name
hr{
    padding: 0;
    margin: 0;
}