*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*HEADER*/
#header{
    margin: 0;
    padding: 0;
}
#header-main{
    margin: 0;
    padding: 0;
    display: flex;
}
#title{
    width: 30%;
}
#title a img{
    width: 100px;
    height: 100px;
    background-color: red;
}
#legacy-points{
    margin: 20px auto;
    width: 30%;
    padding: 20px 0 0 0;
    background-color: lightgrey;
    border-radius: 20px/50%;
}
#legacy-points img{
    display: inline-block;
    width: 30px;
    height: inherit;
}
#legacy-points #point{
    padding: 10px;
}
#account{
    width: 40%;
    margin: 0;
    padding: 0;
}
ul{ 
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#account div{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    padding: 10px 0 0 10px;
}
#account div #icon{
    text-transform: uppercase;
    border-radius: 50%;
    padding: 10%;
    background-color:lightgray;
    font-weight: bold;
}
#account div #icon1,#name
hr{
    padding: 0;
    margin: 0;
}

#profile1{
    text-transform: capitalize;
}
#profile1 li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}
#profile1 li a:hover{
    background-color: rgb(221, 215, 215);
}

/*NAVIGATION*/
#nav ul{
    display: flex;
    margin: 0 0 0 50px;
    padding: 0;
}
#nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    display: block;
    width: 100%;
    padding: 10px;
}
#nav ul li a:hover{
    color: blue;
    border-bottom: 2px solid blue;
}
#nav ul li a:active{
    border-bottom: 2px solid blue;
}
/*MAIN*/
#main{
    background-color: aliceblue;
    height: 100vh;
    margin: 0;
    padding: 0;
}

